@font-face {
  font-family: flat-jooza;
  src: url(../fonts/7d411bb0357d6fd29347455b7d207995.ttf);
}
$bg-00: #000000;

body {
  background: $bg-00;
  color: white;
  font-family: flat-jooza;
  overflow-x: hidden;
}
nav {
  z-index: 1;
  padding: 0 200px !important;
  text-align: center !important;
  height: 80px !important;
  background-color: black;
  .uk-button-default {
    background-color: transparent;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1rem;
    &:hover,
    &:active,
    &:focus {
      color: white;
      border: 0;
      border-bottom: 2px solid white;
    }
  }
  .uk-dropdown {
    background: black;
    color: white;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  }
  .Logo {
    max-width: 85%;
    height: auto;
    width: 100px;
    margin-right: 15%;
    margin-left: 15%;
    transition: opacity 400ms;
    transition-delay: 0ms;
  }
  li {
    padding: 10px 10px;
    a {
      font-family: "flat-jooza" !important;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      color: white;
      &:hover {
        color: white;
      }
    }
    &:hover {
      border-bottom: 2px solid white;
      cursor: pointer;
    }
  }
  .dropdown-menu {
    background-color: black;
    a {
      font-family: "flat-jooza" !important;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      color: black;
    }
  }
}
@media screen and (min-width: 925px) {
  nav {
    height: 90px !important;
    padding: 0px 20px !important;
  }
}
@media screen and (max-width: 925px) {
  .fixed-top {
    top: -12px;
  }
  .Logo {
    margin-left: 10px !important;
  }
  nav {
    height: 90px !important;
    padding: 0px 20px !important;
  }
  .uk-position-bottom-left {
    display: none;
  }
  .uk-slideshow-items {
    height: 500px !important;
    width: 100%;
  }
}
#navbarTogglerDemo02 {
  background-color: black !important;
}
.openTime {
  position: absolute;
  left: 1100px;
  top: 340px;
  z-index: 11;
  display: none;
  .openTimeText {
    z-index: 11;
    font-family: Cinzel;
    transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    text-align: left;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    opacity: 1;
    transform-origin: 50% 50% 0px;
  }
}
@media screen and (min-width: 960px) {
  .openTime {
    display: block;
  }
}
.arrows {
  background-color: black;
  padding: 20px 20px;
  width: 50px;
}
.s1 {
  padding: 60px 10px;
  left: -110%;
  h2 {
    font-size: 45px;
    color: white;
    font-family: "flat-jooza" !important;
    font-weight: 600;
    line-height: 65px;
    text-align: left;
    text-transform: uppercase;
  }
}
.left-pos {
  background-color: #ffffff;
  text-align: left;
  margin-top: 20px;
  float: left;
  width: 35px;
  height: 4px;
  display: block;
  border-radius: 50px;
}
.btn-6 {
  margin: 10px 0;
  color: white;
  font-size: 1.2em !important;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: normal;
  text-transform: uppercase;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px grey;
  }
}
@media screen and (max-width: 925px) {
  .s1r {
    right: 0;
    opacity: 1;
  }
  .s1 {
    left: 0;
    opacity: 1;
  }
  .copyright {
    font-size: 10px;
    text-align: center;
  }
}
.s1r {
  padding: 60px 0px;
  right: -110%;
  .aboutC {
    p {
      font-family: "flat-jooza" !important;
      font-size: 14px !important;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.2px;
      text-align: left;
      color: #ffffff;
    }
  }
}
#items {
  padding-left: 5px;
  padding-right: 5px;
  .col-lg-3.col-md-6.col-sm-12 {
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: 5px;
  }
  .HomeServices {
    height: 504px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    img {
      position: absolute;
      height: 504px;
      position: inherit;
      width: 100%;
    }
    h2 {
      position: absolute;
      font-family: flat-jooza;
      color: white;
      font-size: 40px;
      font-weight: bold;
      top: 55%;
      left: 43%;
      transform: translate(-50%, -50%);
    }
    [class^="btn-"] {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 60px;
      max-width: 150px;
      margin: 1rem auto;
      text-transform: uppercase;
      border: 2px solid currentColor;
    }
    .btna-div {
      margin-top: 115%;
      *:before{
        box-sizing: border-box;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
      }
      .btn-5 {
        color: white;
        text-align: center;
        padding-top: 15px;
        padding-left: 10px;
        z-index:554;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: url(../images/hover/gradient-hover.jpg);
          -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
        }
        &:hover {
          color: #813b1a;
          .readMore {
            color: white;
          }
        }
        .readMore {
          text-decoration: none;
          z-index:555;
          position: inherit;
          font-weight: bold;
        }
        .arrow-right {
          height: 5px;
          width: 5px;
        }
      }
    }
    .btn-5:hover:before {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  #img1 {
    background-image: url("../images/Home/items/Hairdressing\ Services.jpg");
    width:10%;
  }
  #img2 {
    background-image: url("../images/Home/items/Make-up\ Services.jpg");
    width:10%;
  }
  #img3 {
    background-image: url("../images/Home/items/NAILS\ SERVICES.jpg");
    width:0%;
  }
  #img4 {
    background-image: url("../images/Home/items/BODY\ TREATMENT.jpg");
    width:0%;
  }
  #img5 {
    width:0%;
    background-image: url("../images/Home/items/MASSAGE.jpg");
  }
  #img6 {
    width:0%;
    background-image: url("../images/Home/items/SIGNATURE\ MAMATI\ MASSAGE.jpg");
  }
  #img7 {
    width:0%;
    background-image: url("../images/Home/items/FACIAL.jpg");
  }
  #img8 {
    width:0%;
    background-image: url("../images/Home/items/Royal\ Pavilion.jpg");
  }
  #img9 {
    width:0%;
    background-image: url("../images/Home/items/the\ formula\ day\ spa.jpg");
  }
  #img10 {
    width:0%;
    background-image: url("../images/Home/items/PACKAGES.jpg");
  }
  #img11 {
    width:0%;
    background-image: url("../images/Home/items/SPECIAL\ BATH.jpg");
  }
  #img12 {
    width:0%;
    background-image: url("../images/Home/items/KIDS\ BEAUTY.jpg");
  }
  #img13 {
    width:0%;
    background-image: url("../images/Home/items/EYE\ LASHES\ EXTENSION.jpg");
  }
  #img14 {
    width:0%;
    background-image: url("../images/Home/items/SALT\ CAVE.jpg");
  }
  #img15 {
    width:0%;
    background-image: url("../images/Home/items/HAIR\ EXTENTION.jpg");
  }
  #img16 {
    width:0%;
    background-image: url("../images/Home/items/NOSE\ PIERCING.jpg");
  }
  #img17 {
    width:0%;
    background-image: url("../images/Home/items/MASSAGE\ THERAPIST.jpg");
  }
  #img18 {
    width:0%;
    background-image: url("../images/Home/items/LPG\ SLIM\ FIRM\ AND\ FIT.jpg");
  }
  #img19 {
    width:0%;
    background-image: url("../images/Home/items/Henna\ services.jpeg");
  }
}

@media screen and (min-width: 960px) {
  .HomeServices {
    h2 {
      font-size: 25px;
      top: 65%;
    }
  }
}

footer {
  margin-top: 50px;
  padding: 70px 20px;
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  .footerTop1 {
    max-height: 227px;
    a {
      letter-spacing: 0.2px;
      font-size: 15px;
      font-family: flat-jooza;
      color: #9a9a9a;
      text-decoration: none;
    }
  }
  .footerTop2 {
    h2 {
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      font-family: flat-jooza;
      font-weight: 400;
    }
    h2::after {
      background-color: #ffffff;
      display: block;
      content: "";
      width: 30px;
      height: 4px;
      border-radius: 10px;
      margin: 20px 0 25px 0;
    }
    span {
      margin-right: 15px;
      font-family: flat-jooza;
      color: #9a9a9a;
      margin-top: 15px;
    }
  }
}
.copyright {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 80px;
  color: #9a9a9a;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
  margin: 0 auto;
  width: 65%;
  text-align: center;
  border: 1px solid white;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    padding-left: 45%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: white;
      color: black;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    margin-top: -8px;
    border: 1px solid white;
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: black;
    cursor: pointer;
    &:hover {
      background: darken(black, 10%);
    }
  }
}
input:checked {
  + .tab-label {
    background: white;
    color: black;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
#Hairdressing {
  background-image: url("../images/Pages/Hairdressing Services/HairServBG1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .mainBG {
    position: relative;
    z-index: 1;
  }
  h1 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 900;
    font-family: flat-jooza;
    color: white;
    z-index: 5;
  }
  @media screen and (max-width: 960px) {
    h1 {
      display: none;
    }
  }
  h2 {
    padding: 150px 150px;
    color: rgba(255, 255, 255, 0.7215686274509804);
    font-size: 50px;
    font-weight: 900;
    font-family: flat-jooza;
  }
}
.Accord {
  padding-top: 50px;
  #accordion {
    width: 70%;
    margin: 0 auto;
    .card {
      background-color: black;
      border: 1px solid grey;
      text-align: center;
      .card-header.collapsed {
        background-color: black !important;
        .mb-0 {
          color: white;
        }
      }
      .card-header {
        border-bottom: 1px solid grey;
        transition: all 0.4s ease-in-out;
        background-color: white;
        .mb-0 {
          color: black;
          font-family: flat-jooza;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}
